.highway__button {
  border-radius: 50%;
  background-color: #ebebeb;
  width: 50px;
  height: 50px;
  text-decoration: none;
  position: relative;
}

.highway__button:hover {
  transition: all 0.6s ease-in-out;
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
